@import "./_variables.css";

html {
  font-family: monospace;
  font-size: 100%;
  box-sizing: border-box;
}

nav {
  padding: 1.5rem;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

footer {
  border-block-start: 1px solid black;
  margin-block-start: 1rem;
}

button,
.button {
  background-image: linear-gradient(
    to right,
    var(--limeGreen),
    var(--brightCyan)
  );
  padding: 1rem 1.875rem;
  color: var(--white);
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.hamburger > span {
  display: block;
  width: 1.625rem;
  height: 0.1825rem;
  background-color: var(--darkBlue);
}

.hamburger > span:not(:last-child) {
  margin-block-end: 3px;
}

/* #hero {
  background-color: var(--white);
}

.hero__img {
  background-color: var(--white);
  background-image: url(../images/bg-intro-mobile.svg);
}

img {
  position: relative;
  bottom: 115px;
  max-width: 100%;
} */
