/* Flexbox */
.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-ai-c {
  align-items: center;
}

.hide-for-mobile {
  display: none;
}

.hide-for-desktop {
  display: inline;
}

@media (min-width: 1024px) {
  .hide-for-mobile {
    display: inline;
  }

  .hide-for-desktop {
    display: none;
  }
}
